{% extends "layouts/base.html" %}

{% block title %} Entity {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
<style>

</style>
{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-lg-6 col-7">
        <h2>{{ documentData['input_name'] }}</h2>
      </div>
        <div class="col-4">
            <div class="col-6 input-group input-group-outline">
                  <label class="form-label">Set Limitation (e.g.90%)</label>
                  <input id="limit_num" type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
            </div>
        </div>
        <div class="col-2">
            <button id ="Set_button" class="btn bg-gradient-primary mb-0">Review</button>
        </div>
    </div>
    <div class="row">

      <div class="col-6" style="height: 74vh">
          <div class="card my-4" style="height: 100%">
              <div class="checking_area" id = "left">

              </div>
          </div>
      </div>
      <div class="col-6">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Contract Review Result</h6>
            </div>
          </div>
          <div class="card-body px-3 pb-2" id = "review-body">
            <div class="table-responsive p-0" >
              <table class="table align-items-center justify-content-center mb-0">

                <tbody id = "content1">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://unpkg.com/@wangeditor/editor@latest/dist/index.js"></script>
<script>
    var documentData = {{ documentData | tojson }};
    var contractText = documentData['content'];
    var data = documentData['result'];
    console.log(data.EntityLink);
    var contractList = contractText.split("");
        // add entitylink span
  for(var i = 0; i < data.EntityLink.length; i++){
      let beginPos = data.EntityLink[i].start;
      let endPos = data.EntityLink[i].end;
      let url = data.EntityLink[i].kb_id;
      contractList[beginPos] = '<a href = "#unit_enl' + i + '"class = "highlight" url =' + ' "'  + url + '" id = "enl' + i + '">' + contractList[beginPos];
      contractList[endPos] = contractList[endPos] + '</a>';
  }
    //handle review
    var scoreLimit = 0.0;

    var setButton = document.getElementById("Set_button");
    setButton.onclick = function(){
        var limit = document.getElementById("limit_num");
        scoreLimit = limit.value;
    }
    let annoStore = {};
    let sameStart = {};
    let lastBeg = -1;
    let firstEnd = -1;
    let minScore = 1.0;
    for(let i = 0; i < data.Review.length; i++){
        let beginPos = data.Review[i].start;

        if(beginPos == lastBeg){
            sameStart[data.Review[i].score] = {"answer": data.Review[i].answer, "annotation": data.Review[i].annotation};
            if(data.Review[i].score < minScore){
                minScore = data.Review[i].score;
            }
        }else{
            if(lastBeg != -1){
                annoStore[lastBeg] = sameStart;
                sameStart = {};
                contractList[lastBeg] = '<a href = "#unit_pos' + lastBeg + '" class = "review" minScore = "' + minScore + '" id = "pos'+ lastBeg + '" >' + contractList[lastBeg];
                contractList[firstEnd] = contractList[firstEnd] + '</a>';
                minScore = 1.0;
            }
            sameStart[data.Review[i].score] = {"answer": data.Review[i].answer, "annotation": data.Review[i].annotation};
            minScore = data.Review[i].score;
            lastBeg = beginPos;
            firstEnd = data.Review[i].end;

        }
     }
    annoStore[lastBeg] = sameStart;
    contractList[lastBeg] = '<a href = "#unit_pos' + lastBeg + '"class = "review" minScore = "' + minScore + '" id = "pos'+ lastBeg +'" >' + contractList[lastBeg];
    contractList[firstEnd] = contractList[firstEnd] + '</a>';

    //join the content
    let contractContext = contractList.join("");
    let left = document.getElementById("left");
    left.innerHTML = '<div id = "contractResult">' + contractContext + '</div>';

    /*
    // let totalRow = 0;
    // //handle right
    //     let allReviews = document.getElementsByClassName('review');
    //     totalRow += allReviews.length;
    //     for(let i = 0; i < allReviews.length; i++) {
    //         allReviews[i].onclick = function () {
    //             let reviewContent = document.getElementById('content1');
    //             let startPos = this.id.substring(3);
    //             let reviewData = annoStore[startPos];
    //             let content = "";
    //             let color = "";
    //             for (let score in reviewData) {
    //                 //remove low score data
    //                 score = parseFloat(score);
    //                 var score100 = (score * 100).toFixed(2);
    //                 if (score100 < scoreLimit) {
    //                     continue;
    //                 }
    //                 else if(score100 <= 60.0){
    //                     color = "secondary";
    //                 }
    //                 else if(score100 <= 70.0){
    //                     color = "primary";
    //                 }
    //                 else if(score100 <= 80.0){
    //                     color = "warning";
    //                 }
    //                 else if(score100 <= 90.0){
    //                     color = "success";
    //                 }else{
    //                     color = "info";
    //                 }
    //                 content = content + '<tr><td><div class="d-flex px-2"><div class="my-auto"><h6 class="mb-0 text-sm">'+ reviewData[score].annotation + '</h6></div></div></td>'
    //                     +'<td class="align-middle text-center"><div class="d-flex align-items-center justify-content-center"><span class="me-2 text-xs font-weight-bold">' + score100 + '</span>'
    //                     +'<div><div class="progress"><div class="progress-bar bg-gradient-' + color+'" role="progressbar" aria-valuenow="' + score100 + '" aria-valuemin="0" aria-valuemax="' + score100+ '" style="width:' + score100 + '%;"></div> </div> </div> </div> </td>'
    //                     +'<td class="align-middle"><button class="btn btn-link text-secondary mb-0"><i class="fa fa-ellipsis-v text-xs"></i> </button> </td> </tr>'
    //             }

    //             reviewContent.innerHTML = content;
    //         }
    //     }

    // let allSpans = document.getElementsByClassName('highlight');
    // totalRow += allSpans.length;
        // console.log(allSpans);
        // handle entity link spans event
    // for(var i = 0; i < allSpans.length; i++) {
    //     var onBoard = false;
    //     allSpans[i].onclick = function () {
    //         var targetURL = this.getAttribute('url');
    //         var entityLinkFrame = document.getElementById('wrap_' + this.id);
    //         console.log(entityLinkFrame);
    //         entityLinkFrame.innerHTML = '<iframe class="card col-12 px-2 py-2" src = "' + targetURL + '" ></iframe>';
    //     }

    // }
    */
    let allResult = document.getElementById("contractResult").getElementsByTagName("a");
    let lastContainer = null;
    // let lastContent = "";
    for(var i = 0; i < allResult.length; i++){
      var entityLinkFrame = document.getElementById('content1');
      var unit = document.createElement("tr");
      
      /*
      allResult[i].onclick = function(){
        let curContainer = document.getElementById("unit_"+this.id);
        // let targetURL = this.getAttribute('url');
        // //entity link click handle
        // let curContent = curContainer.innerHTML;
        if(this.id.substring(0,3) == "enl"){
          let targetURL = this.getAttribute('url');
          curContainer.innerHTML = '<iframe class="card col-12 px-2 py-2" src = "' + targetURL + '" ></iframe>';          
        }
        else if(this.id.substring(0,3) == "pos"){
          let startPos = this.id.substring(3);
          let reviewData = annoStore[startPos];
          let content = "";
          let color = "";
          for (let score in reviewData) {
              //remove low score data
              score = parseFloat(score);
              var score100 = (score * 100).toFixed(2);
              if (score100 < scoreLimit) {
                  continue;
              }
              else if(score100 <= 60.0){
                  color = "secondary";
              }
              else if(score100 <= 70.0){
                  color = "primary";
              }
              else if(score100 <= 80.0){
                  color = "warning";
              }
              else if(score100 <= 90.0){
                  color = "success";
              }else{
                  color = "info";
              }
              content = content + '<td><div class="d-flex px-2"><div class="my-auto me-6"><h6 class="mb-0 text-sm">'+ reviewData[score].annotation + '</h6></div>'
                  +'<div class="d-flex align-items-center justify-content-center"><span class="me-2 text-xs font-weight-bold">' + score100 + '</span>'
                  +'<div><div class="progress"><div class="progress-bar bg-gradient-' + color+'" role="progressbar" aria-valuenow="' + score100 + '" aria-valuemin="0" aria-valuemax="' + score100+ '" style="width:' + score100 + '%;"></div> </div> </div> </div>'
                  +'<button class="ms-8 mb-0 btn btn-link text-secondary mb-0"><i class="fa fa-ellipsis-v text-xs"></i> </button> </div> </td>'
          }
          curContainer.innerHTML = content;
        }
        */
        // let curContainer = document.getElementById("unit_"+ allResult[i].id);
        // let targetURL = this.getAttribute('url');
        // //entity link click handle
        // let curContent = curContainer.innerHTML;

      allResult[i].onclick = function(){
        let curContainer = document.getElementById("unit_"+ this.id);
          //Track the target unit
          if(lastContainer){
            lastContainer.style.maxHeight = "8vh";
            // lastContainer.innerHTML = lastContent;
          }
          if(lastContainer == curContainer){
            lastContainer = null;
            return;
          }
          curContainer.style.maxHeight = "60vh";
          // lastContent = curContent;
          lastContainer = curContainer;
        }
      unit.id = "unit_" + allResult[i].id;
      unit.setAttribute("class", "card review_container review_unit");
      if(allResult[i].id.substring(0,3) == "enl"){
        unit.setAttribute("style", "background-color: rgba(173, 235, 245, 0.08)");
      }else{
        unit.setAttribute("style", "background-color: rgba(255, 0, 191, 0.05)");
      }

      // unit.innerHTML = (allResult[i].id.substring(0,3) == "enl" ? "EntityLink: " : "Review: ") + allResult[i].textContent ;

      entityLinkFrame.appendChild(unit);
    }

    let allUnit = document.getElementById('content1').getElementsByClassName("review_unit");
    
    for(var i = 0; i < allUnit.length; i++){
      
      let targetID = allUnit[i].id.substring(5);
      let type = targetID.substring(0,3);
      let target = document.getElementById(targetID);
      allUnit[i].onclick = function(){
        let curContainer = this;
        // let curContent = curContainer.innerHTML;
        // if(type == "enl"){
        //   let targetURL = target.getAttribute('url');
        //   curContainer.innerHTML = '<iframe class="card col-12 px-2 py-2" src = "' + targetURL + '" ></iframe>';       
        // }else if(type == "pos"){
        //   let startPos = target.id.substring(3);
        //   let reviewData = annoStore[startPos];
        //   let content = "";
        //   let color = "";
        //   for (let score in reviewData) {
        //       //remove low score data
        //       score = parseFloat(score);
        //       var score100 = (score * 100).toFixed(2);
        //       if (score100 < scoreLimit) {
        //           continue;
        //       }
        //       else if(score100 <= 60.0){
        //           color = "secondary";
        //       }
        //       else if(score100 <= 70.0){
        //           color = "primary";
        //       }
        //       else if(score100 <= 80.0){
        //           color = "warning";
        //       }
        //       else if(score100 <= 90.0){
        //           color = "success";
        //       }else{
        //           color = "info";
        //       }
        //       content = content + '<td><div class="d-flex px-2"><div class="my-auto me-6"><h6 class="mb-0 text-sm">'+ reviewData[score].annotation + '</h6></div>'
        //           +'<div class="d-flex align-items-center justify-content-center"><span class="me-2 text-xs font-weight-bold">' + score100 + '</span>'
        //           +'<div><div class="progress"><div class="progress-bar bg-gradient-' + color+'" role="progressbar" aria-valuenow="' + score100 + '" aria-valuemin="0" aria-valuemax="' + score100+ '" style="width:' + score100 + '%;"></div> </div> </div> </div>'
        //           +'<button class="ms-8 mb-0 btn btn-link text-secondary mb-0"><i class="fa fa-ellipsis-v text-xs"></i> </button> </div> </td>'
        //   }
          // curContainer.innerHTML = content;
        // }
        // let targetURL = this.getAttribute('url');
        // //entity link click handle
        //Track the target unit
        if(lastContainer){
          lastContainer.style.maxHeight = "8vh"
          // lastContainer.innerHTML = lastContent;
        }
        curContainer.style.maxHeight = "60vh";
        // lastContent = curContent;
        lastContainer = curContainer;        
    }
        let curContainer = allUnit[i];
        let curContent = curContainer.innerHTML;
        if(type == "enl"){
          let targetURL = target.getAttribute('url');
          curContainer.innerHTML = '<h4 class = "text-capitalize py-1">' + target.innerText + '</h4><iframe class="card col-12 px-2 py-2" src = "' + targetURL + '" ></iframe>';       
        }else if(type == "pos"){
          let startPos = target.id.substring(3);
          let reviewData = annoStore[startPos];
          let content = '<h4 class = "text-capitalize py-1">' + target.innerText + '</h4>';
          let color = "";
          for (let score in reviewData) {
              //remove low score data
              score = parseFloat(score);
              var score100 = (score * 100).toFixed(2);
              if (score100 < scoreLimit) {
                  continue;
              }
              else if(score100 <= 60.0){
                  color = "secondary";
              }
              else if(score100 <= 70.0){
                  color = "primary";
              }
              else if(score100 <= 80.0){
                  color = "warning";
              }
              else if(score100 <= 90.0){
                  color = "success";
              }else{
                  color = "info";
              }
              content = content + '<td><div class="d-flex px-2"><div class="my-auto me-6"><h6 class="mb-0 text-sm">'+ reviewData[score].annotation + '</h6></div>'
                  +'<div class="d-flex align-items-center justify-content-center"><span class="me-2 text-xs font-weight-bold">' + score100 + '</span>'
                  +'<div><div class="progress"><div class="progress-bar bg-gradient-' + color+'" role="progressbar" aria-valuenow="' + score100 + '" aria-valuemin="0" aria-valuemax="' + score100+ '" style="width:' + score100 + '%;"></div> </div> </div> </div>'
                  +'<button class="ms-8 mb-0 btn btn-link text-secondary mb-0"><i class="fa fa-ellipsis-v text-xs"></i> </button> </div> </td>'
          }
          curContainer.innerHTML = content;
        }
    }
</script>
{% endblock javascripts %}
